# K Nearest Neighbour Classification

In [1]:
import numpy as np
import pandas as pd

**1.loading in the data**

In [2]:
df=pd.read_csv('D:\Iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.drop(columns=['Id'],axis=1,inplace=True)

In [5]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
df['Species'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

**2.selecting the dependent_variable and independent_variable**

In [8]:
dependent_variable=df['Species']
Independent_variables=df.drop("Species",axis=1)

In [9]:
print(dependent_variable.shape)
print(Independent_variables.shape)

(150,)
(150, 4)

**3.Rescaling the data by using StandardScaler**

In [10]:
from sklearn.preprocessing import StandardScaler
standardized_data=StandardScaler().fit_transform(Independent_variables)
print(standardized_data.shape)

(150, 4)

**4.Split the data train and Test**

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent_variables,dependent_variable, train_size=0.8,random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
standardized_data=StandardScaler().fit_transform(Independent_variables)
print(standardized_data.shape)

(150, 4)

In [22]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(120, 4)
(120,)
(30, 4)
(30,)

**5.Training**

In [23]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier()
classifier.fit(x_train,y_train)

KNeighborsClassifier()

**6.Prediction**

In [29]:
y_test_pred = classifier.predict(x_test)

In [30]:
temp_df=({'Actual':y_test,'Predicted':y_pred})

In [28]:
temp_df

{'Actual': 114     Iris-virginica
 62     Iris-versicolor
 33         Iris-setosa
 107     Iris-virginica
 7          Iris-setosa
 100     Iris-virginica
 40         Iris-setosa
 86     Iris-versicolor
 76     Iris-versicolor
 71     Iris-versicolor
 134     Iris-virginica
 51     Iris-versicolor
 73     Iris-versicolor
 54     Iris-versicolor
 63     Iris-versicolor
 37         Iris-setosa
 78     Iris-versicolor
 90     Iris-versicolor
 45         Iris-setosa
 16         Iris-setosa
 121     Iris-virginica
 66     Iris-versicolor
 24         Iris-setosa
 8          Iris-setosa
 126     Iris-virginica
 22         Iris-setosa
 44         Iris-setosa
 97     Iris-versicolor
 93     Iris-versicolor
 26         Iris-setosa
 Name: Species, dtype: object,
 'Predicted': array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
        'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
        'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
        'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
        'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
        'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
        'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
        'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
        'Iris-versicolor', 'Iris-setosa'], dtype=object)}

**7.Evaluation**

In [33]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_test_pred)

0.9666666666666667